html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

*{
  box-sizing: border-box;
}

.join-chat-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
  padding: 80px;
}

.inner-join-chat-container {
  width: 50%;
  margin-bottom: 200px;
}

.joinchat-image{
  width: 450px;
  height: 450px;
  margin-left: 0 auto;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

.inputbox {
  border-radius: 50px;
  padding: 15px 20px;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
}

.inputleft{
  margin-right: 8vw;
}


.heading {
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
  margin-top: -20px;
  letter-spacing: 1px;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #db18d4;
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  width: 30%;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.mt-50 {
  margin-top: 50px;
}

button:focus {
  outline: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  html,body{
    overflow: hidden;
  }
  
  .join-chat-container {
    height: 100%;
  }

  .inner-join-chat-container {
    width: 100%;
    margin-top: 15vh;
  }

  
  .joinchat-image{
    width: 280px;
    height: 280px;
    margin-left: -8vw;
    margin-top: 0vh;
  }

  .heading{
    font-size: 18px;
  }

  .input-container{
    flex-direction: column;
  }

  .input-container .inputbox{
    margin-top: 3vh;
    width: 280px;
    height: 50px;
  }

  .input-container .inputleft{
    margin-right: 0;
  }

  .inner-join-chat-container .button {
    padding: 15px;
    border-radius: 50px;
    width: 60%;
    font-size: 1rem;
  }
}




@media (min-width: 480px) and (max-width: 1200px) {

  .inner-join-chat-container {
    width: 50%;
    margin-top: 1vh;
  }

  
  .joinchat-image{
    width: 500px;
    height: 500px;
    margin-left: -8vw;
  }

  .heading{
    font-size: 30px;
  }

  .input-container .inputbox{
    margin-top: 2vh;
    width: 280px;
    height: 50px;
    margin-right: 20px;
  }

  .input-container .inputleft{
    margin-left: 50px;
  }

  .input-container .inputleft{
    margin-right: 0;
  }

  .inner-join-chat-container .button {
    padding: 18px;
    border-radius: 50px;
    width: 70%;
    font-size: 1.1rem;
  }
}