.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c811bc;
  border-radius: 15px 15px 0 0;
  height: 60px;
  width: 100%;
}

.left-inner-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.right-inner-container {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineicon {
  margin-right: 5%;
}


@media (min-width: 320px) and (max-width: 480px) {
  .infoBar {
    border-radius: 0;
  }
}